<?xml version="1.0"?>
<robot name="sensor_kinect2" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_gazebo.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_properties.urdf.xacro"/>
  
  <xacro:property name="kinect_cam_py" value="-0.0125"/>
  <!-- Parameterised in part by the values in turtlebot_properties.urdf.xacro -->
  <xacro:macro name="sensor_kinect2" params="parent">
    <link name="kinect2_model_link">
      <visual>
       <origin xyz="0 0 0" rpy="-0.11757 0 -1.5707963"/>
        <geometry>
         <mesh filename="package://turtlebot_description/meshes/sensors/kinect2.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="black">
          <color rgba="0.1 0.1 0.1 1"/>
        </material>
      </visual>
  	  <collision>
        <origin xyz="0.0 0.0 0.0" rpy="-0.11757 0 -1.5707963"/>
  	    <geometry>
  	      <box size="0.25 0.0842 0.063"/>
  	    </geometry>
  	  </collision>
      <inertial>
        <mass value="0.564" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.003881243" ixy="0.0" ixz="0.0"
                 iyy="0.000498940" iyz="0.0"
                 izz="0.003879257" />
      </inertial>
    </link>

    <joint name="camera_mount_joint" type="fixed">
      <origin xyz="0.026 0.125 0.256" rpy="${cam_or} ${cam_op} ${cam_oy}"/>
      <parent link="${parent}"/>
      <child link="kinect2_model_link" />
    </joint>

    <joint name="kinect2_model_joint" type="fixed">
      <origin xyz="0.080 -0.2198 0.0317" rpy="0 0 0"/>
      <parent link="kinect2_model_link"/>
      <child link="kinect2_link" />
    </joint>
     
     <link name="kinect2_link"/> 
      

    <!-- The fixed joints & links below are usually published by static_transformers launched by the OpenNi launch 
         files. However, for Gazebo simulation we need them, so we add them here.
         (Hence, don't publish them additionally!) -->
	<joint name="camera_depth_joint" type="fixed">
	  <origin xyz="0 0 0" rpy="0 0 0" />
	  <parent link="kinect2_link" />
	  <child link="camera_depth_frame" />
	</joint>
	<link name="camera_depth_frame"/>

	<joint name="camera_depth_optical_joint" type="fixed">
	  <origin xyz="0 0 0" rpy="0 0 0" />
	  <parent link="camera_depth_frame" />
	  <child link="camera_depth_optical_frame" />
	</joint>
	<link name="camera_depth_optical_frame"/>
	
	<!-- Kinect sensor for simulation -->
	<turtlebot_sim_3dsensor/>
  </xacro:macro>
</robot>
